<h1>Gerenciar Lista de Músicas</h1>

<!-- Criar Playlist -->
<input [(ngModel)]="newPlaylist.nome" placeholder="Nome da Playlist">
<input [(ngModel)]="newPlaylist.descricao" placeholder="Descrição">
<button (click)="createPlaylist()">Criar Playlist</button>

<hr>

<!-- Adicionar Música -->
<select [(ngModel)]="newMusic.playlistId">
  <option *ngFor="let p of playlists" [value]="p.id">{{ p.nome }}</option>
</select>
<input [(ngModel)]="newMusic.titulo" placeholder="Título da Música">
<input [(ngModel)]="newMusic.artista" placeholder="Artista">
<button (click)="addMusic()">Adicionar Música</button>

<hr>

<!-- Listar Playlists -->
<div *ngFor="let playlist of playlists" class="playlist-container">
  <div class="playlist-header">
    <h3>{{ playlist.nome }} ({{ playlist.descricao }})</h3>
    <button class="delete-button delete-button-playlist" (click)="deletePlaylist(playlist.id)">Deletar Playlist</button>
  </div>
  
  <ul class="music-list">
    <li *ngFor="let music of playlist.musicas" class="music-item">
      <span class="music-title">{{ music.titulo }} - {{ music.artista }}</span>
      <button class="delete-button delete-button-music" (click)="deleteMusic(music.id)">Deletar Música</button>
    </li>
  </ul>
</div>
